rest = true
port = 27103
dbpath = /home/worker/data/mongod-c1-cfg3/
logpath = /home/worker/data/mongod-c1-cfg3/mongod.log
logappend = true
pidfilepath = /home/worker/data/mongod-c1-cfg3/mongod.pid
fork = true
oplogSize = 1024
configsvr = true
