rest = true
port = 27111
dbpath = /home/worker/data/mongod-c1-rs1-r1/
logpath = /home/worker/data/mongod-c1-rs1-r1/mongod.log
logappend = true
pidfilepath = /home/worker/data/mongod-c1-rs1-r1/mongod.pid
fork = true
oplogSize = 10240
replSet = rs1
